<form action="/tasks/add" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" id="title">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name="description" placeholder="Description" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" name="subimit">Enviar</button>
</form>