<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{ @index }}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                    <button>Hecho</button>
                    <a href="/edit/{{_id}}">Editar</a>
                    <button>Eliminar</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>